body {
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0;
    background-color : #f0f0f0 ;                   
}

header {
    background-color:  #4caf50;
    color: white;
    text-align: center;
    padding: 30px 0;
}
main {
    padding: 20px;
}
section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button{
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
}