body {
    font-family: Arial, sans-serif ;
    margin: 0;
    padding: 0;
    background-color : #f0f0f0 ;                   
}

header {
    background-color:  #4caf50;
    color: white;
    text-align: center;
    padding: 30px 0;
}

main {
    padding: 20px;
}
section {

    #presentation {
    display: flex; 
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: f0f0f0;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto 50px auto;

    @media (max-width: 768px)
    #presentation {
        padding: 30px 15px;
    }
    #presentation h2 {
        font-size: 1.5rem;
    }
    #presentation p {
        font-size: 1rem;
    }
} 

    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button{
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
}

#presentation {
    display: flex; 
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: f0f0f0;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto 50px auto;

    @media (max-width: 768px)
     #presentation {
        padding: 30px 15px;
    }
    #presentation h2 {
        font-size: 1.5rem;
    }
    #presentation p {
        font-size: 1rem;
    }
} 

#projets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px 20px
}

#projets .projet {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
}

@mediia (max-width: 768px) {
    #projets {
        flex-direction: column;
        align-items: center;
    }
    #projets .projet {
        width: 90%;
        margin-bottom: 20px;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #e0f7fa;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
}

#contact form {
    display:flex;
    flex-direction: column;
    width: 100%;
}

#contact input,
#contact textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
#contact button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#contact button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    #contact {
        padding: 30px 15px;
    }
    #contact input,
    contact textarea {
        font-size: 0.95rem;
    }
    #contact button {
        font font-size: 1rem;
    }
}